body {
    font-family: Times New Roman;
    padding: 20px;
    background-color: #fafffa;
}

option {
   font-family: Times New Roman;
}

 #chart {
    display: flex;
    jusitfy-content: center;
    width: 60%;
    background-color: #fafffa;
    border: 10px #0d7011 ridge;
    border-radius: 12.5px;
}


